@import './main.scss';

.mobile#section-three {
    background-color: $main-color;
    padding: auto;

    .content {
        padding: 2rem 4rem;
        color: #ffffff;
        background-color: $main-color;
    }

    h2 {
        font-family: "NotoSerif-Bold", Arial, Helvetica, sans-serif;
    }

}

.desktop#section-three {

    @include gt-sm {
        height: 50vh;
    }
    height: 80vh;
    background-image: url('/images/alt-landing-03.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;

    position: relative;

    .row {
        position: absolute;
        bottom: 0;
        width: 100%;

        height: 100%;
    }

    .content {
        padding: 1.5rem;
        color: #ffffff;
        background-color: $main-color;

        height: 100%;

        transform: translateY(-150px);
        transition: transform 400ms ease-in;
    }

    .slideUp {
        height: 100%;
        transform: translateY(0);

        .inner-content {
            margin-top: 4rem;
        }
    }
       
    .normalState {
        transform: translateY(60%);
    }

    h2 {
        font-family: "NotoSerif-Bold", Arial, Helvetica, sans-serif;
        font-size: 42px;
        padding-right: 30px;

        @include gt-sm {
            font-size: 36px;
        }
    }

    .link {
        color: $yellow;
        background-color: transparent;
        border: 0;
        padding: 0;
        font-family: "BebasNeue", Arial, Helvetica, sans-serif;
        font-size: 22px;

        &:hover {
            color: $secondary-color;
        }
    }
}

